.header {
    height: 4em;

    // background-color: red;

    box-shadow: 0px 10px 10px 0px rgba(34, 60, 80, 0.2);
    .header__container {
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;


        .header--logo {
            font-size: 2.4em;
        }

        .header--nav,
        .header--auth {
            font-weight: bold;
            font-size: 1.4em;
        }

        a {
            margin-right: 4em;
            
        }
        a:last-of-type {
            margin-right: -2em;
        }

    }
}