.SidePanel {
    background-color: #fff;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    transition: height 0.3s ease;
}

.SidePanel.expanded {
    height: 100%;
  }

@media screen and (min-width: 1024px) {
    .SidePanel {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .SidePanel {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .SidePanel {
        z-index: 1;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
      }
}