button {
    background-color: rgb(228, 228, 228);
    height: 2rem;
    border-radius: 0.2rem;
    border-bottom: 0.3rem solid rgb(240, 240, 240) ;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 0.2rem;
    margin: 0 0.1rem;
}

button:focus {
    border-bottom: 0.3rem solid rgb(226, 109, 0) ;
}