.Header {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    box-shadow: 0 1px 4px #00000026;
    background-color: #fff;
}

.Header__container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.Header__container > .nav {
    display: flex;
    margin-top: 1%;
}

.nav > a {
    font-size: 1.3vw;
    margin-right: 35%;
}

.nav > a:last-child {
    margin-right: 0;
}

.logo {
    margin-left: 1%;
    font-size: 2.5vw;
}

.Header__container__auth > a {
    font-size: 1.3vw;
    margin-right: 5%;
}

.Header__container__auth {
    margin: 1.5vh;
    display: flex;
    justify-content: center;
}