.kino__card {
    /* display: flex; */
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
    border-radius: 0.3rem;
    width: 14rem;
    height: auto;
}

.container_info {
    display: flex;
    /* border-bottom: #c0c0c0 solid 1px; */
}

.container_info:after {
    content: '';
    width: 14rem;
    margin-top: 8rem;
    margin-left: -14.2rem;
    border-bottom: #c0c0c0 solid 0.01rem;
}

.title {
    
    font-weight: 800;
    font-size: 0.8rem;
    color: rgb(55, 55, 255);
}

img {
    border-radius: 0.3rem 0 0.3rem 0;
    height: 7rem;
}

.content {
    display: block;
    margin-left: 0.4rem;
    margin-top: 0.5rem;
}

.tags_time {
    font-size: 0.6rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 9rem;
    color: #acacac;
}

.urlBuyTicket {
    font-size: 0.8rem;
    border-radius: 0.4rem;
    padding: 0.1rem;
    transition: all 0.5s ease;
    border: #00d81d solid 0.01rem;
    color: #00d81d;
}

.urlBuyTicket:hover {
    /* background-color: #c0c0c0; */
    border-radius: 0.2rem;
}

.urlBuyTicketsDiv {
    margin-top: 2.45rem;
    
}

.link_urlKino {
    height: 7rem;
}

.inTive {
    color: #949494;
    font-size: 0.88rem;
}