.Main {
    display: flex;
    justify-content: space-around;
    height: 95vh;
}

.Main__main {
    margin-left: 20%;
    width: 40%;
    /* background-color: red; */
}

.Main_sidebord {
    margin-right: 15%;
    width: 15%;
    /* background-color: blue; */
}